[submodule "C-Thread-Pool"]
	path = C-Thread-Pool
	url = https://github.com/jti-lanl/C-Thread-Pool.git
	branch = lanl
[submodule "sqlite3-pcre"]
	path = sqlite3-pcre
	# url = https://github.com/ralight/sqlite3-pcre
	url = https://github.com/mar-file-system/sqlite3-pcre.git
	branch = master
[submodule "googletest"]
	path = googletest
	url = https://github.com/abseil/googletest.git
