*.cpp.in                   linguist-language=C++
*.py.in                    linguist-language=python
scripts/distributed/gufi_* linguist-language=python
scripts/gufi_*             linguist-language=python
scripts/gufi_jail          linguist-language=shell
scripts/querydbs           linguist-language=python