
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="centered-div">
        <h1>Welcome to the GUFI GUI</h1>
        <p>This application allows you to browse and search files using GUFI.</p>
        <ul style="list-style-type: none">
            <li><a href="{{ url_for('render_ls_view',subpath='') }}">Browse Files</a></li>
            <li><a href="{{ url_for('render_find_view',subpath='') }}">Search Files</a></li>
        </ul>  
    </div>
{% endblock %}             