# This file is part of GUFI, which is part of MarFS, which is released
# under the BSD license.
#
#
# Copyright (c) 2017, Los Alamos National Security (LANS), LLC
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without modification,
# are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice, this
# list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation and/or
# other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
# INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#
# From Los Alamos National Security, LLC:
# LA-CC-15-039
#
# Copyright (c) 2017, Los Alamos National Security, LLC All rights reserved.
# Copyright 2017. Los Alamos National Security, LLC. This software was produced
# under U.S. Government contract DE-AC52-06NA25396 for Los Alamos National
# Laboratory (LANL), which is operated by Los Alamos National Security, LLC for
# the U.S. Department of Energy. The U.S. Government has rights to use,
# reproduce, and distribute this software.  NEITHER THE GOVERNMENT NOR LOS
# ALAMOS NATIONAL SECURITY, LLC MAKES ANY WARRANTY, EXPRESS OR IMPLIED, OR
# ASSUMES ANY LIABILITY FOR THE USE OF THIS SOFTWARE.  If software is
# modified to produce derivative works, such modified software should be
# clearly marked, so as not to confuse it with the version available from
# LANL.
#
# THIS SOFTWARE IS PROVIDED BY LOS ALAMOS NATIONAL SECURITY, LLC AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
# THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL LOS ALAMOS NATIONAL SECURITY, LLC OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
# OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
# IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
# OF SUCH DAMAGE.



name: Auxiliary Checks

on: [push, pull_request]

env:
  CC: clang
  CXX: clang++
  DEP_INSTALL_PREFIX: ~/.local
  COMMON_CONFIG: -DDEP_INSTALL_PREFIX="${DEP_INSTALL_PREFIX}" -DDEP_BUILD_THREADS=2 -DENABLE_SUDO_TESTS=On

jobs:
  Older_CMake:
    runs-on: ubuntu-20.04
    container:
      image: centos:7
    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: ${{ env.DEP_INSTALL_PREFIX }}
        key:  ${{ runner.os }}-cmake-3.1.0

    - name: CentOS 7 Prerequisites
      run:  contrib/CI/centos7.sh

    - name: Install CMake 3.1.0
      run:  contrib/CI/cmake3.1.0.sh

    - name: Check CMake Version
      run:  cmake --version

    - name: Configure CMake
      run: |
           mkdir -p build
           cd build
           cmake .. ${{ env.COMMON_CONFIG }}

    - name: Build
      working-directory: ${{ github.workspace }}/build
      run: make -j

    - name: Test
      working-directory: ${{ github.workspace }}/build
      run: ctest --output-on-failure

  Python2:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: ${{ env.DEP_INSTALL_PREFIX }}
        key:  ${{ runner.os }}-debug-prints

    - name: Ubuntu 20.04 Prerequisites
      run: sudo contrib/CI/ubuntu.sh

    - name: Install Python 2
      run: sudo apt -y install python2

    - name: Install Matplotlib
      run: |
           sudo apt -y install curl
           curl https://bootstrap.pypa.io/pip/2.7/get-pip.py --output get-pip.py
           sudo python2 get-pip.py
           python2 -m pip install --upgrade pip
           python2 -m pip install matplotlib

    - name: Configure CMake
      run:  cmake -B ${{ github.workspace }}/build ${{ env.COMMON_CONFIG }} -DPYTHON_INTERPRETER=python2

    - name: Build
      run:  cmake --build ${{ github.workspace }}/build -j

    - name: Test
      working-directory: ${{ github.workspace }}/build
      run:  ctest --output-on-failure

  TestDirectory:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: ${{ env.DEP_INSTALL_PREFIX }}
        key:  ${{ runner.os }}-test-directory

    - name: Ubuntu 20.04 Prerequisites
      run: sudo contrib/CI/ubuntu.sh

    - name: Configure CMake
      run:  cmake -B ${{ github.workspace }}/build ${{ env.COMMON_CONFIG }} -DTEST_WORKING_DIRECTORY=/tmp

    - name: Build
      run:  cmake --build ${{ github.workspace }}/build -j

    - name: Test
      working-directory: ${{ github.workspace }}/build
      run:  ctest --output-on-failure

  Pylint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: ${{ env.DEP_INSTALL_PREFIX }}
        key:  ${{ runner.os }}-pylint

    - name: Ubuntu 20.04 Prerequisites
      run: sudo contrib/CI/ubuntu.sh

    - name: Install Extra Python Packages
      run: |
           sudo apt -y install python3-pip python3-matplotlib
           sudo pip3 install pylint

    - name: Configure CMake
      run:  cmake -B ${{ github.workspace }}/build ${{ env.COMMON_CONFIG }} -DCMAKE_BUILD_TYPE=Debug -DPRINT_CUMULATIVE_TIMES=On

    - name: Build
      run:  cmake --build ${{ github.workspace }}/build -j

    - name: Run Python3 Pylint
      run: contrib/CI/pylint.sh ${{ github.workspace }}/build

  DebugPrints:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: ${{ env.DEP_INSTALL_PREFIX }}
        key:  ${{ runner.os }}-debug-prints

    - name: Ubuntu 20.04 Prerequisites
      run: sudo contrib/CI/ubuntu.sh

    - name: Configure CMake
      run:  cmake -B ${{ github.workspace }}/build ${{ env.COMMON_CONFIG }} -DCMAKE_BUILD_TYPE=Debug -DPRINT_CUMULATIVE_TIMES=On -DPRINT_PER_THREAD_STATS=On -DPRINT_QPTPOOL_QUEUE_SIZE=On -DPRINT_SUBDIRECTORY_COUNTS=On

    - name: Build
      run:  cmake --build ${{ github.workspace }}/build -j

    - name: Test
      working-directory: ${{ github.workspace }}/build
      run:  ctest --output-on-failure -L unit

  Memcheck:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: ${{ env.DEP_INSTALL_PREFIX }}
        key:  ${{ runner.os }}-memcheck

    - name: Ubuntu 20.04 Prerequisites
      run: sudo contrib/CI/ubuntu.sh

    - name: Install Valgrind
      run: sudo apt -y install valgrind

    - name: Configure CMake
      run:  cmake -B ${{ github.workspace }}/build ${{ env.COMMON_CONFIG }} -DCMAKE_BUILD_TYPE=Debug -DPRINT_CUMULATIVE_TIMES=On -DPRINT_PER_THREAD_STATS=On -DPRINT_QPTPOOL_QUEUE_SIZE=On -DPRINT_SUBDIRECTORY_COUNTS=On

    - name: Build
      run:  cmake --build ${{ github.workspace }}/build -j

    - name: Test
      working-directory: ${{ github.workspace }}/build
      run:  valgrind --tool=memcheck --leak-check=full --track-origins=yes --show-leak-kinds=all --error-exitcode=1 test/unit/googletest/unit_tests --gtest_color=yes

  ShellCheck:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - name: Install ShellCheck
      run:  sudo apt -y install shellcheck

    - name: Test
      run:  shellcheck -s bash -e SC1090,SC1091,SC2086 $(find \( -name "*.sh" -o -name "*.sh.in" \) -not -path "*/contrib/debug/*")
